extends layout

block content
  if(!params.user)
    .row
        .small-5.medium-4.large-3.columns
          h1
            img(src='img/DrWow.jpg')
        .small-7.medium-8.large-9.columns
            ul.button-group.right
              li
                a.button.small.success(href="/login") Login
              li
                a.button.small.success(href="/register") Register
          .small-12.columns
              hr
  if(params.user)
    .row
        .small-5.medium-4.large-3.columns
          h1
            img(src='img/DrWow.jpg')
        .small-7.medium-8.large-9.columns
            ul.button-group.right
              li
                a.button.small.success(href="/logout") Logout
        .small-12.columns
            hr

    if(params.user.role === "doctor")
      .row
        .large-6.columns
          #publisherContainerID
        .large-6.columns
          #secondContainerID
        .large-12.columns
          hr

        .large-12.columns
          if(params.patients_array.length === 0)
            h3 No patients online
            <meta http-equiv="refresh" content="5" />
          else
            h3 Your patient is #{params.patients_array[0].name}


            div(ng-controller='DrCtrl as dr')
              button.small.secondary(ng-click='dr.createSession()', ng-hide='') Create Call
              button.small.secondary(ng-click='dr.disconnect()') Disconnect
            form
              .row.small-uncollapse.large-uncollapse
                .medium-6.large-4.columns
                  label
                    | Patient's Name
                    input(type='text', value='#{params.patients_array[0].name}', disabled='')
                .medium-6.large-4.columns
                  label
                    | Patient's Email Address
                    input(type='text', value='#{params.patients_array[0].email}', disabled='')
              .row.small-uncollapse.large-uncollapse
                .medium-6.large-4.columns
                  label
                    | Patient's Gender
                    input(type='text', value='#{params.patients_array[0].gender}', disabled='')
                .medium-6.large-4.columns
                  label
                    | Patient's Age
                    input(type='text', value='#{params.patients_array[0].age}', disabled='')

            .row
              .large-12.columns
                hr
              .large-12.columns
                form(role='form', action="/consultations", method="post", style='max-width: 300px;')
                  .form-group
                      input.form-control(type='text', name="comments", placeholder='Enter Comments', id='comments')
                  .form-group
                    input.form-control(type='text', name="prescription", placeholder='Prescription', id='prescription')
                  .form-group
                    input.form-control(type='date', name="date", id='date')
                  .form-group
                      input.form-control(type='hidden', readonly="readonly", name="doctorID", value='#{params.user._id}', id='role')
                  .form-group
                      input.form-control(type='hidden', readonly="readonly", name="patientID", value='#{params.patients_array[0]._id}', id='role')
                  button.small.secondary(type='submit', id='submit') Submit

    if(params.user.role === "patient")
      .row
        .large-6.columns
          #publisherContainerID
        .large-6.columns
          #secondContainerID
        .large-12.columns
          hr

        .large-12.columns
          if(params.doctors_array.length === 0)
            h3 No doctors online at the moment
            <meta http-equiv="refresh" content="5" />
          else
            h3 Your doctor is #{params.doctors_array[0].name}

            div(ng-controller='DrCtrl as dr')
              button.small.secondary(ng-click='dr.joinSession()') Join Call
              &nbsp;
              a(href='/')
                button.small.secondary(ng-click='dr.disconnect()') Disconnect
